<div class="row">
    <h1>Proyectos realizados</h1>
    <br>
    <hr>
    <div class="contenedor ">
        <div class="col-sm-12 col-md-4 col-lg-4 proyectos">
            <h1>Porfolio Personal</h1>
            <p>Desarrollado en Angular para el Proyecto final de Argentina programa</p>
        </div>
        
        <div class="col-sm-12 col-md-4 col-lg-4 proyectos">
            <h1>Journal App</h1>
            <p>Desarrollada en lenguaje React</p>
            <p>Ir al Github<a href="https://github.com/Pastito09/Journal-App" target="_blank"><img class="img-fluid" id="logoGitLink" src="../../../assets/github.png"></a></p>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 proyectos">
            <h1>Gif Expert App</h1>
            <p>Desarrollada en lenguaje React</p>
            <p>Ir al Github<a href="https://github.com/Pastito09/react-gif-expert" target="_blank"><img class="img-fluid" id="logoGitLink" src="../../../assets/github.png"></a></p>
        </div>
    </div>
</div>