<div class="row">
    <h1>
        Experiencia Laboral
    </h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>trabajo 1</h1> - <h3>(años)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, enim quaerat nostrum, voluptatem fuga ullam, laborum fugiat commodi odio saepe aliquid maxime necessitatibus accusamus aspernatur deserunt recusandae aliquam at itaque.</p>
        </ul>
        <ul>
            <li>
                <h1>trabajo 2</h1> - <h3>(años)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, enim quaerat nostrum, voluptatem fuga ullam, laborum fugiat commodi odio saepe aliquid maxime necessitatibus accusamus aspernatur deserunt recusandae aliquam at itaque.</p>
        </ul>
        <ul>
            <li>
                <h1>trabajo 3</h1> - <h3>(años)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, enim quaerat nostrum, voluptatem fuga ullam, laborum fugiat commodi odio saepe aliquid maxime necessitatibus accusamus aspernatur deserunt recusandae aliquam at itaque.</p>
        </ul>
    </div>
</div>