h1 {
    text-align: center;
    color: rgba(229, 233, 28, 0.479);
    font-size: 35px;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}