<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            
            title="HTML"
            [showSubtitle]="false"
            titleFontSize="22"
            unitsFontSize="20"
            [percent]="90"
            [radius]="100"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress            
            title="CSS"
            [showSubtitle]="false"
            titleFontSize="22"
            unitsFontSize="20"
            [percent]="80"
            [radius]="100"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div> 
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            title="JavaScript "
            [showSubtitle]="false"
            titleFontSize="22"
            unitsFontSize="20"
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            title="Angular "
            [showSubtitle]="false"
            titleFontSize="22"
            unitsFontSize="20"
            [percent]="75"
            [radius]="100"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            title="English "
            [showSubtitle]="false"
            titleFontSize="22"
            unitsFontSize="20"
            [percent]="100"
            [radius]="100"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            title="Proactividad "
            [showSubtitle]="false"
            titleFontSize="22"
            unitsFontSize="20"
            [percent]="100"
            [radius]="100"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    
</div>
