<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/arg-programaLOGO.png" id="logoAP" alt="Logo Argentina Programa">
        </div>
        <div class="social-media">
           
                <a href="https://www.facebook.com/patricio.hogan/" target="_blank"><img src="../../../assets/logo-facebook-png.png" id="logoFacebook" alt="logo facebook"></a>
                <a href="https://www.instagram.com/pasto.on.the.controls/" target="_blank"><img src="../../../assets/instagram.png" id="logoInstagram" alt="logo instagram"></a>
                <a href="https://www.linkedin.com/in/patricio-hogan-828484a5/" target="_blank"><img src="../../../assets/linkedin.png" id="logoLinkedin" alt="logo linkedin"></a>
                <a href="https://github.com/Pastito09" target="_blank"><img src="../../../assets/github.png" id="logoGithub" alt="logoGit"></a>
                <button (click)="login()" type="button" class="btn btn-primary">Ingresar</button>
        </div>
    </div>
</div>
